* {
  padding: 0;
  margin: 0;
}
.width {
  width: 800px;
  margin: auto;
}
.width img {
  flex: 1;
  width: 100%;
}
.width a {
  flex: 1;
  display: block;
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: skyblue;
  line-height: 45px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-size: 30px;
}
